@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f0f0f0;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  overflow: hidden;
}

/* Custom Scrollbar for Neo Look */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-left: 2px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

/* Leaflet Override to match style */
.leaflet-container {
  border: 4px solid #000;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}